$--color-black: #111;
$green: #2ecc71;
$turquoise: #1abc9c;

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 4;
  width: 100%;
  height: 100vh;
  @include flex-center-block;
  background-color: rgba(black, 0.4);
  & > h1 {
    font-size: 10rem;
    font-family: 'Poppins';
  }
}

.count {
  position: absolute;
  font-size: 10rem;
  color: rgba(white, 0);
  z-index: 5;
  font-family: 'Poppins';
}

.game {
  @include parallax-bg('../assets/img/game-bg.jpg');
  @include flex-center-block;
  @media (max-width: 792px) {
    padding: 15px;
  }
  &__popup {
    position: fixed;
    background: rgb(200, 200, 200);
    min-width: 200px;
    min-height: 400px;
    width: 50%;
    height: auto;
    box-shadow: 0 25px 50px rgba(black, 0.1), 0 0 0 1000px rgba(black, 0.45);
    border-radius: 20px;
    padding: 40px;
    @include flex-center-block;
    flex-direction: column;
    justify-content: start;
    display: none;
    z-index: 10;
    @media (max-width: 792px) {
      width: 96%;
    }
    &.active {
      display: flex;
    }
    &--title {
      font-size: 3.5rem;
    }
    &--score {
      font-size: 1.5rem;
    }
    &--answer {
      font-size: 1rem;
      margin-top: 20px;
      &.last {
        margin-bottom: 40px;
      }
    }
    &--btn {
      background-color: transparent;
      border: 2px solid $turquoise;
      border-radius: 0.6em;
      color: #fff;
      cursor: pointer;
      @include flex-center-block;
      width: 20rem;
      height: 3rem;
      text-align: center;
      line-height: 1;
      margin: 0.4em;
      text-transform: uppercase;
      box-shadow: 0 0 40px 40px $turquoise inset, 0 0 0 0 $turquoise;
      font: 700 1rem 'Montserrat', sans-serif;

      transition: all 150ms ease-in-out;
      &:hover,
      &:focus {
        color: $turquoise;
        outline: 0;
        box-shadow: 0 0 10px 0 $green inset, 0 0 10px 4px $green;
      }
    }
  }
  &__congratulations {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    z-index: 12;
    display: none;
    pointer-events: none;
    &.active {
      display: flex;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 5%;
    right: 20%;
    max-width: 300px;
    max-height: 300px;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    background: linear-gradient(#f9d924, #ff2c24);
    animation: blocks 5s ease-in-out infinite;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 5%;
    left: 20%;
    max-width: 300px;
    max-height: 300px;
    width: 10rem;
    height: 10rem;
    border-radius: 10px;
    background: linear-gradient(#f9d924, #ff2c24);
    animation: blocks 5s ease-in-out infinite;
    animation-delay: -2.5s;
  }
  &-container {
    position: relative;
    min-width: 200px;
    min-height: 400px;
    z-index: 2;
    width: 50%;
    padding: 30px;
    background: rgba(white, 0.7);
    border-radius: 20px;
    @include flex-center-block;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: 0px 0px 25px 25px rgba(black, 0.1),
      0 0 0 1000px rgba(black, 0.3);
    transition: all 0.4s ease-in-out;
    @media (max-width: 792px) {
      width: 100%;
    }
    &:hover {
      box-shadow: 0px 0px 25px 0px rgba(white, 0.5),
        0 0 0 1000px rgba(black, 0.3);
    }

    &__nameAndtimer {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
      @media (max-width: 792px) {
        justify-content: center;
      }
    }
    &__name {
      margin-bottom: 3rem;
    }
    //  *** start timer styles ***
    &__timer {
      position: relative;
      width: 100px;
      height: 100px;
      user-select: none;
    }

    &__svg {
      transform: scaleX(-1);
    }

    &__circle {
      fill: none;
      stroke: none;
    }

    &__path-elapsed {
      stroke-width: 7px;
      stroke: grey;
    }

    &__path-remaining {
      stroke-width: 7px;
      stroke-linecap: round;
      transform: rotate(90deg);
      transform-origin: center;
      transition: 1s linear all;
      fill-rule: nonzero;
      stroke: currentColor;
    }

    &__path-remaining.green {
      color: rgb(65, 184, 131);
    }

    &__path-remaining.orange {
      color: orange;
    }

    &__path-remaining.red {
      color: red;
    }

    &__label {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3em;
    }
    //  *** end timer styles ***

    &__stop {
      cursor: pointer;
      border: 1px solid $--color-black;
      background: none;
      padding: 10px 20px;
      font-size: 20px;
      font-family: 'Poppins';
      margin: 10px;
      transition: 0.8s;
      position: relative;
      overflow: hidden;
      color: $--color-black;

      &:hover {
        color: #fff;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background: $--color-black;
        z-index: -1;
        transition: 0.8s;
        border-radius: 0 0 50% 50%;
      }
      &:hover::before {
        height: 180%;
      }
    }

    &__task {
      @include flex-center-block;
      justify-content: space-evenly;
      align-self: center;
      // background-color: red;
      width: 100%;
      font-size: 6rem;
      margin-top: 40px;
      text-align: center;
      &.animationIn {
        animation: taskIn 1s ease-in-out;
      }
      // &.animationOut {
      //   animation: taskOut 1s linear;
      // }

      &--numbers {
        font-family: 'Number';
        font-size: 6rem;
      }
      &--operator {
        font-family: 'Number';
        font-size: 6rem;
      }
      &--equal {
        font-family: 'Number';
        font-size: 6rem;
      }
      &--result {
        font-family: 'Number';
        width: 15%;
        outline: none;
        font-size: 6rem;
        height: 100%;
        @include flex-center-block;
        -webkit-appearance: none;
        background: transparent;

        border: none;
      }
      @media (max-width: 630px) {
        &--numbers {
          font-size: 4rem;
        }
        &--operator {
          font-size: 4rem;
        }
        &--equal {
          font-size: 4rem;
        }
        &--result {
          font-size: 4rem;
        }
      }
    }
    &__score {
      margin-top: 5rem;
      margin-bottom: 20px;
      font-size: 1rem;
      & > span {
        color: #009b77;
        margin-left: 10px;
        position: relative;
        font-size: 1rem;
        &.in—Åorrect {
          animation: incorrect 1s ease-in-out;
          color: red;
        }
      }
      & .scoreCounter {
        font-size: 1.2rem;
        color: #009b77;
        position: absolute;
        margin-left: 10px;
        margin-top: -3px;
        opacity: 0;
        &.correct {
          color: #009b77;
        }
        &.incorrect {
          color: #dc143c;
        }
        &.animation {
          animation: scoreCount 1.5s ease-in-out;
        }
      }
    }
  }
}

@keyframes blocks {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes taskIn {
  from {
    opacity: 0.1;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes taskOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-40px);
  }
}
@keyframes incorrect {
  0%,
  100% {
    color: #dc143c;
    text-shadow: #dc143c 0px 0px 5px;
    left: 0px;
  }
  50% {
    color: red;
    text-shadow: red 0px 0px 5px;
    left: 2px;
  }
}

@keyframes scoreCount {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
