$--clr: #1e9bff;
.leaderboard {
  background-color: #111;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  @include parallax-bg('../assets/img/leaderboard-bg.jpg');

  @include flex-center-block;
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    position: relative;
    min-width: 200px;
    min-height: 400px;
    width: 50%;
    height: 32rem;
    text-align: center;
    line-height: 48px;
    background: black;
    letter-spacing: 4px;
    border-radius: 20px;
    @include flex-center-block;
    &--title {
      font-size: 2.5rem;
      z-index: 2;
    }
    @media (max-width: 1400px) {
      & {
        height: 35rem;
      }
    }
    @media (max-width: 1200px) {
      & {
        height: 40rem;
      }
    }
    @media (max-width: 850px) {
      & {
        height: 45rem;
      }
      &--title {
        font-size: 2rem;
      }
    }
    @media (max-width: 600px) {
      & {
        width: 70%;
        height: 50rem;
      }
      &--title {
        font-size: 1.7rem;
      }
    }
    @media (max-width: 400px) {
      & {
        width: 80%;
      }
      &--title {
        font-size: 1.7rem;
      }
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 20px;

      background: linear-gradient(
        45deg,
        #fb0094,
        #00f,
        #0f0,
        #ffe,
        #f00,
        #fb0094,
        #00f,
        #0f0,
        #ffe,
        #f00
      );
      background-size: 400%;
      transition: 0.5s;
      animation: bg-animation 20s linear infinite;
    }
    &::after {
      filter: blur(20px);
    }

    &--glass {
      position: absolute;
      display: block;
      @include flex-center-block;

      top: 1px;
      left: 1px;
      right: 1px;
      bottom: 1px;
      background: #1d1d1d;
      color: rgba(white, 0.2);
      transition: 0.5s;
      z-index: 1;
      color: white;
      padding: 20px 0;
      border-radius: 20px;
    }
    &__mode {
    }
  }
  &__list {
    width: 50%;
    height: 250px;
    font-size: 1.3rem;
    overflow: overlay;
    margin: 0 auto;
    /* custom scrollbar */
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #a8bbbf;
      border-radius: 20px;
      border: 6px solid transparent;
      background-clip: content-box;
    }
  }
  &__btn {
    position: relative;
    background: #444;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    background: $--clr;
    box-shadow: 0 0 35px $--clr;
    top: 30px;
    &:hover {
      letter-spacing: 0.25em;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 2px;
      background: #27282c;
    }
    & > a {
      position: relative;
      z-index: 1;
      color: $--clr;
      font-size: 1.5em;
    }
    & > b {
      position: absolute;
      inset: 0;
      display: block;
      &::before {
        content: '';
        position: absolute;
        top: -3.5px;
        left: 80%;
        height: 4px;
        width: 15px;
        border: 2px solid $--clr;
        background-color: #27282c;
        transform: translateX(-50%);
        transition: 0.5s;
      }
      &::after {
        content: '';
        position: absolute;
        bottom: -3.5px;
        left: 20%;
        height: 4px;
        width: 15px;
        border: 2px solid $--clr;
        background-color: #27282c;
        transform: translateX(-50%);
        transition: 0.5s;
      }
    }
    &:hover b::before {
      width: 25px;
      left: 20%;
    }
    &:hover b::after {
      width: 22px;
      left: 80%;
    }
  }
}

@keyframes bg-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 300% 0;
  }
  100% {
    background-position: 0 0;
  }
}
