@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

@import 'command.scss';
@import 'start.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  hyphens: auto;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}
