@import 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css';
@import '_fonts.scss';
@import 'mixins.scss';
@import 'command.scss';
@import 'start.scss';
@import 'attack.scss';
@import 'leaderboard.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  hyphens: auto;
}

:root {
  font-size: calc(0.5vw + 10px);
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
